// My Wardrobe
color: white;
 font-size: 52px;
 font-family: Poppins;
 font-weight: 700;
 word-wrap: break-word
---
// Easily Manage your Virtual collection
color: white;
 font-size: 35px;
 font-family: Poppins;
 font-weight: 500;
 word-wrap: break-word
---
// Edit
color: black;
 font-size: 16px;
 font-family: Poppins;
 font-weight: 500;
 word-wrap: break-word
---
// Blazer
color: white;
 font-size: 25px;
 font-family: Poppins;
 font-weight: 500;
 word-wrap: break-word
---
// Beige Color
color: white;
 font-size: 20px;
 font-family: Poppins;
 font-weight: 500;
 word-wrap: break-word
---
// Edit
color: black;
 font-size: 16px;
 font-family: Poppins;
 font-weight: 500;
 word-wrap: break-word
---
// Shirt
color: white;
 font-size: 25px;
 font-family: Poppins;
 font-weight: 500;
 word-wrap: break-word
---
// Shirt
color: white;
 font-size: 25px;
 font-family: Poppins;
 font-weight: 500;
 word-wrap: break-word
---
// Blue Color
color: white;
 font-size: 20px;
 font-family: Poppins;
 font-weight: 500;
 word-wrap: break-word
---
// Add your items to Your Wardrobe 
color: white;
 font-size: 30px;
 font-family: Poppins;
 font-weight: 500;
 word-wrap: break-word
---
// Edit
color: black;
 font-size: 16px;
 font-family: Poppins;
 font-weight: 500;
 word-wrap: break-word
---
// Jeans
color: white;
 font-size: 25px;
 font-family: Poppins;
 font-weight: 500;
 word-wrap: break-word
---
// Blue Color
color: white;
 font-size: 20px;
 font-family: Poppins;
 font-weight: 500;
 word-wrap: break-word
---
// T-Shirt
color: white;
 font-size: 25px;
 font-family: Poppins;
 font-weight: 500;
 word-wrap: break-word
---
// White Color
color: white;
 font-size: 20px;
 font-family: Poppins;
 font-weight: 500;
 word-wrap: break-word
---
// Edit
color: black;
 font-size: 16px;
 font-family: Poppins;
 font-weight: 500;
 word-wrap: break-word